/* Logo */
a.logo {
  font-family: 'Alice', sans-serif;
  color: #7e3225;
  font-size: 40px;
  line-height: 80px;
  padding: 20px;
  display: block;
  text-align: center;
}

/* Navigation Bar */
nav {
  background: #fff;
  height: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  line-height: 30px;
  display: inline-block;
  margin: 0 20px;
}

.navbar a {
  color: #000;
  font-size: 17px;
  position: relative;
}

.navbar a:hover {
  color: #7e3225;
}

.navbar a:not(.cart-icon)::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #7e3225;
  transition: 0.4s;
  font-weight: bold;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar a.cart-icon {
  font-size: 22px;
  text-decoration: none;
}

@media (max-width: 700px) {
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    font-size: 14px;
  }

  .navbar a.cart-icon {
    font-size: 18px;
  }
}

/* Hero Section */
.hero-container {
  height: 700px;
}

.hero-image {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url("../assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: #fff;
  text-align: center;
}

.btn {
  font-size: 20px;
  color: #6e4b2b;
  background: #fff;
  border: 1px solid #6e4b2b;
  padding: 10px 30px;
  margin-top: 15px;
  display: inline-block;
}

.btn:hover {
  font-weight: bold;
}

/* Loop Videos Section */
.homepage-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}

.chair-video,
.sofa-video {
  position: relative;
}

.chair-text,
.sofa-text {
  position: absolute;
  top: 0;
  color: #684906;
  text-align: left;
  margin: 30px 20px;
}

.chair-video video,
.sofa-video video {
  width: 100%;
}

@media (max-width: 1120px) {
  .hero-text h1,
  .chair-text h1,
  .sofa-text h1 {
    font-size: 30px;
  }

  .btn {
    font-size: 16px;
    padding: 10px 30px;
    margin-top: 10px;
    display: inline-block;
  }
}

@media (max-width: 700px) {
  .homepage-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

/* Living Room Section */
.living-heading {
  text-align: center;
  color: #000;
  padding: 20px;
}

.living-container h3 {
  text-align: center;
  padding: 50px;
  border-top: 1px solid grey;
}

.living-container p {
  font-size: 15px;
}

.card-container {
  display: grid;
  gap: 70px;
}

.card {
  background-color: #fff;
  width: 24rem;
  width: 100%;
}

.card-content {
  margin-top: 20px;
  margin-bottom: 50px;
}

.header,
.subheader {
  margin: 0;
}

img { 
  height: auto;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .card-container {
      grid-template-columns: 1fr;
  }

  .card-container {
    gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .card-container {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* FAQ Section */
.accordion-container {
  background-color: #ece4d1;
  height: auto;
}

.accordion-container h2 {
  text-align: center;
  color: #000;
  margin: 70px;
}

.accordion-content {
  padding: 0 200px;
  margin-bottom: 100px;
}

.accordion {
  font-family: 'Inter', sans-serif;
  background-color: #ece4d1;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ece4d1;
  color: #7e3225;
}

.panel {
  padding: 0 18px;
  background-color: #ece4d1;
  color: #000;
  border-bottom: 2px solid #000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.accordion:after {
  content: '\02795';
  font-size: 10px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

@media (max-width: 1200px) {
  button.accordion {
    font-size: 18px;
  }

  .panel p {
    font-size: 15px
  }
}

@media (max-width: 1000px) {
  .accordion-content {
    padding: 0 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {

  button {
    font-size: 18px;
  }

  .panel p {
    font-size: 15px
  }
}

/* Footer Section */
.footer-container {
  background: #7e3225;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  padding: 80px 13% 70px;
}

.footer-logo {
  font-family: 'Alice', sans-serif;
  color: white;
  font-size: 30px;
  text-align: left;
}

.footer-content h4 {
  color: #fff;
}

.footer-content li {
  margin-bottom: 15px;;
}

.footer-content li a {
  display: block;
  color: #d6d6d6;
  font-weight: 400;
  transition: all 0.4s ease
}

.footer-content li a:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #fff;
}

.footer-content p {
  color: #d6d6d6;
  font-size: 17px;
  line-height: 30px;
  margin: 20px 0;
}

.icons a {
  display: inline-block;
  font-size: 30px;
  color: #d6d6d6;
  margin-right: 17px;
  transition: all 0.4s ease;
}

.icons a:hover {
  transform: translateY(-5px);
  color: #fff;
}

.footer-copyright {
  background: #7e3225;
  color: #fff;
}

.footer-copyright p {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: 100%;
  clear: both;
  margin-bottom: 40px;
}

@media (max-width: 1690px) {
  .footer-container {
    padding: 50px 5% 40px;
  }
}

@media (max-width: 1120px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
  }
}

@media (max-width: 700px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 2.5rem;
  }
}